[Unit]
Description=consul-template for %I
Requires=varnish@%I.service
After=varnish@%I.service

[Service]
ExecStart=/usr/local/bin/consul-template -consul-addr {{ consul_server_address }} -template "/etc/varnish/%I.consul.tmpl:/etc/varnish/%I.vcl:systemctl reload varnish@%I" >> /var/log/consul-template.{{ item.name }}.log 2>&1"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target