# Multi instance version of Varnish
#
# create config file: /etc/default/varnish-{instancename}
# create vcl file: /etc/varnish/{instancename}.vcl
#
# run: systemctl start varnish@{instancename}

[Unit]
Description=Varnish HTTP accelerator Multi Instance

ConditionPathExists=/etc/default/varnish-%I

[Service]
EnvironmentFile=/etc/default/varnish-%I
Type=forking
LimitNOFILE=131072
LimitMEMLOCK=82000
Restart=always
RestartSec=5
ExecStartPre=/usr/sbin/varnishd -C -f /etc/varnish/%I.vcl
ExecStart=/usr/sbin/varnishd -n %I $DAEMON_OPTS
ExecReload=/bin/sh /usr/share/varnish/reload-vcl-%I

[Install]
WantedBy=multi-user.target